/* imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* root */

:root{
    --green: #008000;
    --green2:#17ac173f;
    --green3:#126d12;
    --green4: #2a973827;
    --red:#800000;
    --red2:#ff000036 ;
    --red3:#6e1212;
    --red4:#af4a4a62;
    --Roboto: 'Roboto Condensed', sans-serif;
}

/* general */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Roboto);
    font-size: 15pt;
}

/* div */

#boxcontainerwrong{
    border: 3px solid var(--red);
    border-radius: 15px;
    max-width: fit-content;
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    margin: 10px;
    background-color: var(--red2);
}

/* button */

.btn{
    all: unset;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #fff;
    background: none;
    padding: 10px;
    padding-left: 15px;
    border-radius: 20px;
}

i{
    padding: 0 5px 0 5px;
    align-self: center;
}

/*! resposta errada */

#wrongtitle{
    font-size: 20pt;
    margin-bottom: 10px;
    color: var(--red);
}

#wrongbtn{
    color: var(--red);
    border-color: var(--red);
}

#wrongbtn:hover{
    color: var(--red3);
    border-color: var(--red3);
    background-color: var(--red4);
}

/** resposta certa **/

#boxcontainerright{
    border: 3px solid var(--green);
    border-radius: 15px;
    max-width: fit-content;
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    margin: 10px;
    background-color: var(--green2);
}

#righttitle{
    font-size: 20pt;
    margin-bottom: 10px;
    color: var(--green);
}

#rightbtn{
    color: var(--green);
    border-color: var(--green);
}

#rightbtn:hover{
    color: var(--green3);
    border-color: var(--green3);
    background-color: var(--green4);
}

